services:
  bot:
    build:
      dockerfile: Dockerfile
      target: production
    environment:
      API_TOKEN: ${API_TOKEN}
      HOST: 0.0.0.0
      PORT: "80"
      WEBHOOK_URL: ${WEBHOOK_URL}
      WEBHOOK_PATH: ${WEBHOOK_PATH}
      CLIENT_TOKEN: ${CLIENT_TOKEN:-}
      DVD_ORIGIN: ${DVD_ORIGIN:-}
      DULD_ORIGIN: ${DULD_ORIGIN:-}
      TORRENT_URL: ${TORRENT_URL:-}
    ports:
      - "${DOCKER_HOST}:${DOCKER_PORT}:80"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    logging:
      driver: journald
      options:
        tag: secretary-bot
    command: /app/.venv/bin/python3 -m bot
